<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices States</title>
    <script src="https://cdn.bootcss.com/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.6/angular-cookies.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="js/constant.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="MainApp" ng-controller="DevicesController">
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./index.html">订购界面</a>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-hide="login">
                <li><a href="signup.html" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="signin.html" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="login">
                <li><a href="#" ><span class="glyphicon glyphicon-user"></span>{{username}} 用户中心</a></li>
                <li><a href="#" ><span class="glyphicon glyphicon-search"></span> 订单查询</a></li>
            </ul>
        </div>
    </nav>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>零件名称</th>
            <th>零件说明</th>
            <th>剩余数量</th>
            <th>订购数量</th>
            <th>订购</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devices"
            ng-class="{success: (device.RemainingNumber !=0), danger: (device.RemainingNumber ==0)}">
            <td>{{ device.Name }}</td>
            <td>{{ device.Description }}</td>
            <td>{{ device.RemainingNumber }}</td>
            <td>
                <button ng-click="Sub(device)">-</button>
                <span class="">{{device.SelectNumber}}</span>
                <button ng-click="Plus(device)">+</button>

            </td>

            <td>
                <button class="btn-success" ng-show="device.RemainingNumber != 0"
                        ng-click="Subscribe(device.Name, device.SelectNumber)">
                    <span>立即订购</span>
                </button>
                <span ng-hide="device.RemainingNumber != 0" class="label label-danger">数量不足</span>
            </td>
        </tr>
        </tbody>

    </table>

    <br>
    <button class="btn" ng-click="refresh()">刷新</button>
    <br>
    <a href="record.html" ><span class="glyphicon glyphicon-stats text-center">后台统计数据</span> </a>

    <div ng-repeat="msg in messages track by $index">
        <div ng-show="msg.ret===0" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            订购{{msg.number}}件{{msg.name}}成功！
        </div>
        <div ng-show="msg.ret===400" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            订购失败,没有足够的库存
        </div>
    </div>
</div>

</body>


</html>